/* Header Style Overrides */
nav {
    background-color: #3a3a3a;
}
.navbar {
    height: 75px;
}
.navbar a {
    display: inline-block;
}
.navbar ul li:after {
    content: "|";
}
.navbar ul li:last-child:after {
    content: "";
}

/* Bootstrap Main Body Style Overrides */
body {
    background-color: #e9e9e9;
}
.container {
    max-width: 960px;
}
.row {
    background-color: white;
    margin: 25px 10px 25px 10px;
}

/* Form Styles */

form {
    padding: 10px;
}

/* Footer Styles */

footer {
    height: 125px;
    background-color: #3a3a3a;
}
footer p {
    color: white;
    text-align: center;
    padding: 25px;
}